<template>
  <q-page>
    <h2>text analyzer</h2>
    <q-input
      v-model="txtinput"
      filled
      placeholder="put your full text in here. (words seperated by non-word-characters)"
      hint="fill in text that needs to by analyzed."
      type="textarea"
      class="q-mb-lg"
    />
    <q-chip size="md">
      <q-avatar color="blue">{{highestFreq}}</q-avatar>
      <span class="chiptxtcolor">highest frequency of any (unspecific) word</span>
    </q-chip>

    <q-chip size="md">
      <q-avatar color="red">{{countNWords}}</q-avatar>
      <span class="chiptxtcolor">N-words</span>
    </q-chip>

    <q-input
      v-model="wordinput"
      filled
      placeholder="type a word here"
      hint="Word to analyze specificly on it's frequency"
      class="q-mt-lg"
    >
      <template v-slot:append>
        <q-chip size="md">
          <q-avatar color="green">{{specificFreq}}</q-avatar>
          <span class="chiptxtcolor">frequency of specific word</span>
        </q-chip>
      </template>
    </q-input>
    <!-- <h3>{{specificFreq}}</h3> -->
  </q-page>
</template>

<script>
import WordFrequencyAnalyzer from '../assets/WordFrequencyAnalyzer.js'
export default {
  name: 'PageIndex',
  data: function () {
    return {
      wordinput: '',
      txtinput: ''
    }
  },
  computed: {
    WFAnalyzerClass: function () {
      return new WordFrequencyAnalyzer(this.txtinput)
    },
    specificFreq: function () {
      return this.WFAnalyzerClass.calculateFrequencyForWord(this.wordinput)
    },
    highestFreq: function () {
      return this.WFAnalyzerClass.calculateHighestFrequency()
    },
    countNWords: function () {
      return this.WFAnalyzerClass.calculateMostFrequentNWords()
    }
  }
}
</script>
<style lang="scss">
.q-page {
  width: 768px;
  padding: 24px;
  margin: 0 auto;
  background-color: $primary
}
@media only screen and (max-width: 767px) {
  .q-page {
    width: 100%;
  }
}
@media only screen and (min-width: 1366px) {
  .q-page {
    width: 1024px;
  }
}
h1{
  color: #fff;
}
*{
  color: lightblue
}
.chiptxtcolor{
  color: #000;
}
</style>
